<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>MARVEL</ion-card-subtitle>
        <ion-card-title>Avengers</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        3 Events
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>StarWars</ion-card-subtitle>
        <ion-card-title>StarWars</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        3 Events
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>DC</ion-card-subtitle>
        <ion-card-title>Joker</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        3 Events
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
