<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card>
          <ion-card-content>
              <ion-item>
                <ion-label>Name</ion-label>
                <ion-input autocomplete type="text" [(ngModel)]="name" name="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Password</ion-label>
                <ion-input [type]="showPassword ? 'text' : 'password' " [(ngModel)]="password" name="password"></ion-input>
                <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Confirm Password</ion-label>
                <ion-input [type]="showConfirmedPassword ? 'text' : 'password' " [(ngModel)]="confirmedPassword" name="confirmedPassword"></ion-input>
                <ion-icon slot="end" [name]="confirmedPasswordToggleIcon" (click)="toggleConfirmedPassword()"></ion-icon>
              </ion-item>
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="6"><ion-button type="button" expand="block" (click)="signIn()">Sign In</ion-button></ion-col>
                </ion-row>
              </ion-grid>
            <ion-text>name:admin, password: admin</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>

