<ion-content [fullscreen]="true">
  <ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="search($event)"></ion-searchbar>
        <ion-col size-xs="12" size-md="4" *ngFor="let film of films">
          <ion-card (click)="goToFilmPage(film.id)">
            <ion-card-header>
              <ion-img style="height: 200px;" src="{{film.img}}"></ion-img>
              <ion-card-title style="height: 50px;" class="ion-text-center">{{film.title|uppercase}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>  
</ion-content>
