<ion-card (click)="goToFilmPage(showing.fid)">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-xs="6" offset-xs="3" size-md="2" offset-md="0">
        <ion-img src="{{film.img}}"></ion-img>
      </ion-col>
      <ion-col size-xs="12" size-md="10">
        <ion-card-header>
          <ion-card-title>{{film.title|uppercase}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>{{showing.address}}</ion-text><br>
          <ion-text>{{showing.date}}</ion-text><br>
          <ion-text>{{showing.time}}</ion-text><br>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>