<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{filmInfo.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{filmInfo.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-img src="{{filmInfo.img}}"></ion-img>
      </ion-item>
      <ion-list>
        <ion-list-header>
          <ion-label>Overview</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-text>{{filmInfo.overview}}</ion-text>
        </ion-item>
        <ion-list-header>
          <ion-label>Directors</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-text>{{filmInfo.directors}}</ion-text>
        </ion-item>
        <ion-list-header>
          <ion-label>Producer</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-text>{{filmInfo.producer}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>